
.show-up-animation {
  animation-delay: 1s;
  animation: showUpAnimation 1s ease forwards;
}

.show-up-animation-fast {
  animation-delay: 0.5s;
  animation: showUpAnimation 0.4s ease forwards;
}

.show-down-animation {
  animation-delay: 1s;
  animation: showDownAnimation 1s ease forwards;
}

@keyframes showUpAnimation {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes showDownAnimation {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
