.show-up-animation {
  animation-delay: 1s;
  animation: showUpAnimation 1s ease forwards;
}

.show-up-animation-fast {
  animation-delay: 0.5s;
  animation: showUpAnimation 0.4s ease forwards;
}

.show-down-animation {
  animation-delay: 1s;
  animation: showDownAnimation 1s ease forwards;
}
.show-down-animation-2 {
  animation-delay: 0.5s;
  animation: showDownAnimation2 0.3s ease forwards;
}

.fieldset-animation {
  animation-delay: 0.2s;
  animation: FieldsetAnimation 0.3s ease forwards;
}

@keyframes showUpAnimation {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes showDownAnimation {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes showDownAnimation2 {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes FieldsetAnimation {
  0% {
    opacity: 0;
    margin-top: -60px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

/* Skeleton Loading css */

.skeleton-box {
  position: relative;
  overflow: hidden;
}

.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
  content: "";
}
.skeleton-box-gray {
  position: relative;
  overflow: hidden;
}
.skeleton-box-gray::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    100deg,
    rgb(208 208 208 / 0%) 0,
    rgb(201 201 201 / 20%) 20%,
    rgb(202 202 202 / 50%) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.fade-in {
  animation-delay: 0.2s;
  animation: FadeInAnimation 0.4s linear forwards;
}
.fade-out {
  animation-delay: 0.2s;
  animation: FadeOutAnimation 0.3s ease forwards;
}

@keyframes FadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes FadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
