.whitetheme {
  background-color: #fff;
}

.whitetheme .navbar,
.whitetheme .sidebar .sidebar-brand-wrapper,
.whitetheme .sidebar {
  background-color: #fff;
}

/* .whitetheme .sidebar {
  height: 100%;
} */

.whitetheme .sidebar .nav {
  border-right: #cbd0dd solid 1px;
  padding-top: 100px;
  height: 100%;
  margin-bottom: 0px;
}
.whitetheme .sidebar .side-nav {
  border-right: #cbd0dd solid 1px;
  padding-top: 20px;
  height: 100%;
  margin-bottom: 0px;
}

.whitetheme .sidebar .nav:not(.sub-menu)>.nav-item:hover:not(.nav-category):not(.account-dropdown)>.nav-link,
.whitetheme .sidebar .nav .nav-item.active>.nav-link {
  background: #e8e8e8;
}

.whitetheme .sidebar .nav .nav-item.active>.nav-link span.menu-icon,
.whitetheme .sidebar .nav .nav-item.active>.nav-link span.menu-icon:hover {
  background-color: rgba(108, 114, 147, 0.2);
}

.whitetheme .sidebar .nav:not(.sub-menu)>.nav-item:hover:not(.nav-category):not(.account-dropdown)>.nav-link span.menu-title,
.whitetheme .sidebar .nav .nav-item.active>.nav-link span.menu-title {
  color: #0f1015;
  background-color: #e8e8e8;
}

.whitetheme .sidebar .sidebar-brand-wrapper {
  border-bottom: #cbd0dd solid 1px;
}

.whitetheme .navbar .navbar-menu-wrapper {
  box-shadow: none;
  border-bottom: #cbd0dd solid 1px;
}

.whitetheme .content-wrapper {
  background: #f5f7fa;
  color: #0f1015;
}

.whitetheme .dropdown-menu {
  background-color: #fff;
  border: #cbd0dd solid 1px;
  color: #0f1015;
}

.whitetheme .dropdown-menu .dropdown-item {
  color: #0f1015;
}

.whitetheme .dropdown-item:hover,
.whitetheme .dropdown-item:focus {
  background-color: #e8e8e8;
}

/* Card */
.whitetheme .card {
  background: #fff;
}

.whitetheme .card .card-title {
  color: #0f1015;
}

.whitetheme .border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.whitetheme .list-wrapper ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* Card */

/* Table */
.whitetheme .table> :not(:last-child)> :last-child>*,
.jsgrid .jsgrid-table> :not(:last-child)> :last-child>*,
.jsgrid .jsgrid-table> :not(:last-child)> :last-child>* {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

/* .whitetheme .table-responsive .table thead tr th:last-child {
  text-align: center;
} */

.whitetheme .table-responsive .table tbody tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.whitetheme .table-responsive .table tbody tr:last-child td {
  border-bottom: none;
}

/* .whitetheme .table-responsive .table tbody tr td:last-child {
  text-align: center;
} */

/* Table */

/* Pagination */
.whitetheme .pagination {
  margin-bottom: 0;
  margin-top: 25px;
}

.whitetheme .page-item .page-link {
  background-color: #e8e8e8;
  color: #0f1015;
}

.whitetheme .page-item.active .page-link {
  border-color: #dee2e6;
}

/* Pagination */

/* Input */
.whitetheme .form-control {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #f9f9f9;
  color: #0f1015;
}

.whitetheme .form-control:focus {
  color: #0f1015 !important;
}

/* Input */

/** Modal **/
.whitetheme .modal-content {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.175);
  color: #0f1015;
}

.whitetheme .modal-content .modal-header {
  border-bottom: 1px solid #dee2e6;
}

.whitetheme .modal-content .modal-header .btn-close:focus {
  box-shadow: none;
}

.whitetheme .rti--container {
  background-color: #f9f9f9 !important;
}

.whitetheme .rti--container .rti--tag {
  background: #cbcbcb;
  color: #0f1015 !important;
}

.whitetheme .rti--container .rti--input {
  background-color: #f9f9f9 !important;
  color: #0f1015 !important;
}

/* Modal Tabing */
.whitetheme .modal-content .nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.whitetheme .modal-content .nav-tabs .nav-link {
  background-color: transparent;
  color: #0f1015;
  border-bottom: none;
}

.whitetheme .modal-content .nav-tabs .nav-link.active {
  background-color: transparent;
  color: #0f1015;
  border: 1px solid #dee2e6;
  border-bottom-color: #fff;
}

.whitetheme .modal-content .tab-content {
  border: 1px solid #dee2e6;
  border-top: 0;
}

/* Modal Tabing */

/* Invitation Modal */
.whitetheme .modal-content .table-dark {
  --bs-table-bg: #fff;
  border-color: #dee2e6;
  --bs-table-hover-bg: #ededed;
  --bs-table-hover-color: #0f1015;
  cursor: pointer;
}

/* Invitation Modal */

.whitetheme .q-opt-remove {
  background-color: #dee2e6 !important;
}

.whitetheme .modal-content .modal-footer {
  border-top: 1px solid #dee2e6;
}

/** Modal **/

/* Footer */
.whitetheme .footer {
  background: #fff;
  border-top: #cbd0dd solid 1px;
}