*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.question-bg{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ques{
    margin-bottom: 20px;
  }

 .check_box{
  height: 1rem;
 }
 .input{
  height: 3.5rem;
  cursor: pointer;
 }

 
  