.registration{
    height: 70vh;
    /* background-color: black; */
    width: 100vw;
}
.form{
    width: 55rem;
}
.form_label{
    font-size: 20px;
    font-weight: bolder;
}
.phone-input input{
    width: 55rem !important;
    height: 2.7rem !important;
    border-radius: .5rem !important;
    border: 2px solid #8e8e8e !important;
}
.css-1nmdiq5-menu{
    z-index: 99999 !important;
    background-color: aqua;
}
