.registration{
    height: 70vh;
    /* background-color: black; */
    width: 100vw;
    z-index: 999;
    margin-bottom: 4rem;
}
.form{
    width: 55rem;
}
.form_label_terms{
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.form_label{
    font-size: 20px;
    font-weight: bolder;
}
.phone-input input{
    width: 55rem !important;
    height: 2.7rem !important;
    border-radius: .5rem !important;
    border: 2px solid #8e8e8e !important;
}

.registration_btn button{
    width: 8rem;
    height: 2.6rem;
}
.secondary{
    background-color: #c5c4c4;
    border-color: #c5c4c4;
    color: #455153;
}

.secondary:hover{
    background-color: #888383;
    border-color: #888383;
    color: rgb(255, 255, 255);
}