.wave-loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
  }
  
  .wave-loader::after,
  .wave-loader::before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #d4d7ff;
    position: absolute;
    left: 0;
    top: 0;
    animation: wave-animloader 2s linear infinite;
  }
  
  .wave-loader::after {
    animation-delay: 1s;
  }
  
  @keyframes wave-animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  